In [1]:
import pandas as pd
import numpy as np

# Dataset 1: Orders (messy!)
orders = pd.DataFrame({
    'order_id': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010,
                 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020,
                 1021, 1022, 1023, 1024, 1025],
    'customer_id': [101, 102, 103, 101, 104, 105, 102, 106, 103, 107,
                    101, 108, 109, 102, 104, 110, 103, 105, 111, 112,
                    101, 113, 114, 102, 115],
    'product_id': [501, 502, 503, 504, 501, 505, 502, 506, 503, 507,
                   504, 501, 508, 502, 505, 503, 506, 504, 507, 501,
                   508, 502, 505, 503, 506],
    'order_date': ['2024-10-05', '2024-10-12', '2024-10-18', 'invalid', '2024-11-02',
                   '2024-11-10', '2024-11-15', '2024-11-22', '2024-11-28', '2024-12-01',
                   '2024-12-05', '2024-12-10', '2024-12-12', '2024-12-15', '2024-12-18',
                   '2024-12-20', '2024-12-22', '2024-12-24', '2024-12-26', '2024-12-28',
                   '2024-12-29', '2024-12-30', '2024-12-30', '2024-12-31', '2024-12-31'],
    'quantity': ['2', '1', '3', '1', 'N/A', '2', '1', '4', '2', '1',
                 '3', '2', '1', '2', '3', '1', '2', '1', '3', '2',
                 '1', '2', '4', '1', '2'],
    'order_amount': [240, 150, 360, np.nan, 280, 200, 150, 400, 240, 180,
                     360, 240, 120, 300, 420, 120, 200, 120, 540, 240,
                     120, 300, 560, 120, 200]
})

# Dataset 2: Customers
customers = pd.DataFrame({
    'customer_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
                    111, 112, 113, 114, 115],
    'customer_name': ['  Alice Johnson  ', 'BOB SMITH', 'charlie brown', 'Alice Johnson',
                      'david LEE', 'Eve Wilson', 'Frank Miller', 'Grace Chen', 'Henry Taylor',
                      'Iris Wang', 'Jack Davis', 'Kate Martinez', 'Leo Garcia', 'Mia Lopez',
                      'Noah Kim'],
    'region': ['North', 'South', 'East', 'North', 'West', 'South', 'East', 'North',
               'West', 'South', 'East', 'North', 'West', 'South', 'East'],
    'signup_date': ['2023-01-15', '2023-03-20', '2023-05-10', '2023-01-15',
                    '2023-07-08', '2023-09-12', '2023-11-05', '2024-01-18',
                    '2024-03-22', '2024-05-14', '2024-06-30', '2024-07-15',
                    '2024-08-20', '2024-09-10', '2024-10-05']
})

# Dataset 3: Products
products = pd.DataFrame({
    'product_id': [501, 502, 503, 504, 505, 506, 507, 508],
    'product_name': ['Laptop Pro', 'Wireless Mouse', 'USB-C Cable', 'Gaming Keyboard',
                     'External SSD', 'Webcam HD', 'Monitor 27"', 'Headphones'],
    'category': ['computers', 'ACCESSORIES', 'accessories', 'Accessories',
                 'Storage', 'ACCESSORIES', 'Computers', 'accessories'],
    'price': ['1200', '50', '20', '120', '140', '80', '300', '60'],
    'stock': [15, 100, 200, 50, 30, 75, 20, 80]
})


orders.to_csv('orders_messy.csv', index=False)
customers.to_csv('customers_messy.csv', index=False)
products.to_csv('products_messy.csv', index=False)

print(" Messy datasets created!")
print("\nYour task: Clean and analyze this data!")

 Messy datasets created!

Your task: Clean and analyze this data!

In [2]:
orders['order_amount'].isnull()
orders['order_date'] = pd.to_datetime(orders['order_date'], errors='coerce')

In [3]:
orders_duplicates = (orders[orders.duplicated(keep=False)])
print(orders_duplicates)

Empty DataFrame
Columns: [order_id, customer_id, product_id, order_date, quantity, order_amount]
Index: []

In [4]:
customers['customer_name'] = customers['customer_name'].str.strip().str.title()
customers['region'] = customers['region'].str.lower()
customers['signup_date'] = pd.to_datetime(customers['signup_date'], errors='coerce')
customers_duplicates = (customers[customers.duplicated(keep=False)])

In [5]:
products['price'] = products['price'].astype(float)
products['category'] = products['category'].str.lower()
products['product_name'] = products['product_name'].astype(str)
products['product_name'] = products['product_name'].str.strip().str.title()

In [6]:
q4_orders = orders[(orders['order_date'] >= '2024-10-01') &
                         (orders['order_date'] <= '2024-12-31')].copy()
q4_orders['month'] = q4_orders['order_date'].dt.month
avg_order_by_month = ( q4_orders.groupby('month')['order_amount']).mean().sort_index()
print('Average Order By Months',avg_order_by_month)
q4_revenue = q4_orders['order_amount'].sum() #total revenue Q4
print('Total Q4 Revenue = ',q4_revenue)

Average Order By Months month
10    250.00
11    254.00
12    258.75
Name: order_amount, dtype: float64
Total Q4 Revenue =  6160.0

In [7]:
q4_signup = customers[(customers['signup_date'] >= '2024-10-01') & (customers['signup_date'] <= '2024-12-31')]
q4_new_cus = q4_signup['customer_id'].count()
print('New Customers signed up in Q4',q4_new_cus)

New Customers signed up in Q4 1

In [8]:
print("BUSINESS ANALYSIS - MOST Revenue generated by Region")
merge = pd.merge(orders, customers, on='customer_id', how='inner')
sales_by_region = merge.groupby('region')['order_amount'].sum()
print(sales_by_region)

BUSINESS ANALYSIS - MOST Revenue generated by Region
region
east     1720.0
north    1900.0
south    1800.0
west      740.0
Name: order_amount, dtype: float64

In [9]:
merge = pd.merge(orders, products, on='product_id', how='inner')
merge['quantity'] = pd.to_numeric(merge['quantity'], errors='coerce')
clean_qty = merge.dropna(subset=['quantity', 'product_name'])

top5_product = (
    clean_qty
        .groupby('product_name')['quantity']
        .sum()
        .sort_values(ascending=False)
        .head(5)
)

print(top5_product)

product_name
External Ssd      9.0
Webcam Hd         8.0
Usb-C Cable       7.0
Laptop Pro        6.0
Wireless Mouse    6.0
Name: quantity, dtype: float64

In [10]:
merge = pd.merge(orders, customers, on='customer_id', how='inner')
merge['order_amount'] = pd.to_numeric(merge['order_amount'], errors='coerce')
clean_amt = merge.dropna(subset=['order_amount'])
top_spent_cus = (clean_amt.groupby('customer_name')['order_amount'].sum().sort_values(ascending=False).head(1))
print(top_spent_cus)

customer_name
Alice Johnson    1420.0
Name: order_amount, dtype: float64

In [11]:
merge = pd.merge(orders, products, on='product_id', how='inner')
top_category = merge.groupby('category')['order_amount'].sum().sort_values(ascending=False).head(1)
print(top_category)

category
accessories    3260.0
Name: order_amount, dtype: float64

In [12]:
monthly_revenue = (q4_orders
                   .groupby('month')['order_amount']
                   .sum()
                   .sort_index())

print(monthly_revenue)
oct_rev = monthly_revenue[10]
nov_rev = monthly_revenue[11]
dec_rev = monthly_revenue[12]

oct_to_nov_growth = ((nov_rev - oct_rev) / oct_rev) * 100
nov_to_dec_growth = ((dec_rev - nov_rev) / nov_rev) * 100

print(f"Oct→Nov Growth: {oct_to_nov_growth:.2f}%")
print(f"Nov→Dec Growth: {nov_to_dec_growth:.2f}%")

month
10     750.0
11    1270.0
12    4140.0
Name: order_amount, dtype: float64
Oct→Nov Growth: 69.33%
Nov→Dec Growth: 225.98%

In [13]:

orders_per_customer = (q4_orders
                       .groupby('customer_id')['order_id']
                       .count())


frequent_customers = orders_per_customer[orders_per_customer >= 3]

print(f"Customers with 3+ orders: {len(frequent_customers)}")
print("\nCustomer IDs and their order counts:")
print(frequent_customers)

Customers with 3+ orders: 3

Customer IDs and their order counts:
customer_id
101    3
102    4
103    3
Name: order_id, dtype: int64

In [14]:
q4_orders['day_of_week'] = q4_orders['order_date'].dt.day_name()
avg_by_day = (q4_orders.groupby('day_of_week')['order_amount'].mean().sort_values(ascending=False))
print("Average Order Value by Day of Week:")
print(avg_by_day)
print(f"\nHighest day: {avg_by_day.idxmax()} (${avg_by_day.max():.2f})")

Average Order Value by Day of Week:
day_of_week
Monday       430.0
Wednesday    420.0
Thursday     315.0
Friday       257.5
Saturday     227.5
Sunday       200.0
Tuesday      170.0
Name: order_amount, dtype: float64

Highest day: Monday ($430.00)